init_config:

instances:
  - name: machine-1
    url: "https://{{ server_1_ip }}:{{ REDMINE_PORT }}"
    timeout: 5
    check_certificate_expiration: true
    days_warning: 28
    days_critical: 14
    tls_verify: true
  - name: machine-2
    url: "https://{{ server_2_ip }}:{{ REDMINE_PORT }}"
    timeout: 5
    check_certificate_expiration: true
    days_warning: 28
    days_critical: 14
    tls_verify: true